#DirectorPageContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#PageHeader {
   /* Page Header */

    position: flex;
    width: 560px;
    height: 45px;
    margin-right: 25rem;
    margin-top: 0.5rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 877;
    font-size: 50px;
    line-height: 61px;

    color: #FFFFFF; 
}