.MovieCardHolder {
    /* Movie Item Holder */

    position: flex;
    gap: 10px;
    width: 800px;
    height: 77px;

    background: #8BA6C2;
    border-radius: 25px;
}

.MovieCardImage {
    /* Movie Icon */

    position: absolute;
    width: 65px;
    height: 65px;
    left: 9px;
    top: 6px;

    border-radius: 720px;
}

.MovieCardTitle {
    /* Movie Title */

    position: absolute;
    text-align: left;
    width: 499px;
    height: 0px;
    margin-left: 6rem;
    margin-top: 1.2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 774;
    font-size: 32px;
    font-size: 1.5vw;
    line-height: 39px;

    color: #FFFFFF;
}

.MovieCardStatusText {
    /* Status Text */

    position: absolute;
    width: 114px;
    height: 0px;
    left: 605px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 774;
    font-size: 18px;
    line-height: 22px;
}

.MovieCardStatusImage {
    /* Status Image */

    position: absolute;
    width: 40px;
    height: 37px;
    left: 730px;
    top: 22px;

    border-radius: 180px;
}