.TalentContentHolder {
    /* Talent Content Holder */

    position: flex;
    overflow: hidden;
    width: 950px;
    height: 95px;

    background: #445566;
    border-radius: 25px;
}

.TalentCardPicture {
   /* Content Image */

    position: absolute;
    width: 87px;
    height: 85px;
    margin-left: -29rem;
    margin-top: 0.35rem;

    border-radius: 720px;
}

.TalentCardHeader {
    /* Content Header */

    position: absolute;
    width: 495px;
    height: 45px;
    margin-left: 5rem;
    margin-top: 1.2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 774;
    font-size: 46px;
    line-height: 56px;

    color: #FFFFFF;
}

.ProgressBarBackground {
    /* Progress Bar Dark */

    position: absolute;
    width: 200px;
    height: 18px;
    margin-left: 38rem;
    margin-top: 2.531rem;

    background: #0A7700;
    border-radius: 25px;
}

.ProgressBar {
    /* Progress Bar */

    position: absolute;
    width: 180px;
    height: 18px;
    margin-left: 38rem;
    margin-top: 2.531rem;

    background: #14FF00;
    border-radius: 25px;
}

.CompletionRate {
    /* Completion Rate */

    position: absolute;
    width: 42px;
    height: 15px;
    margin-left: 51.813rem;
    margin-top: 2.35rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 774;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.TalentCardExpandIcon {
    /* More Info Arrow */

    position: absolute;
    width: 26px;
    height: 25px;
    margin-left: 26rem;
    margin-top: 2.25rem;
}

.TalentContentHolderExtension {
    /* Content Holder Extension */

    position: flex;
    width: 857px;
    height: 846px;
    margin-left: 6.875rem;
    margin-top: 6rem;

    background: #4E6378;
    border-radius: 25px;
}

.MovieCard {
    /* Movie Item */
    
    position: relative;
    width: 776px;
    height: 77px;
    left: 10px;
    top: 10px;
    margin-bottom: 7px;
}